.modalImg {
	height: 100% !important;
	width: 100% !important;
	cursor: zoom-in !important;
	opacity: 0;
}

#root
	> div.chakra-stack.css-10gmaum
	> div
	> div
	> div.chakra-stack.css-15x9ctx
	> div.chakra-stack.css-dnhvq6
	> div
	> div.chakra-stack.css-1l6nge1
	> div {
	height: 100% !important;
	width: 100% !important;
}

#root
	> div.chakra-stack.css-1ribele
	> div
	> div
	> div.chakra-stack.css-1ui8mg3
	> div.chakra-stack.css-1ol5vhs
	> div
	> div.chakra-stack.css-247abj
	> div {
	height: 100% !important;
	width: 100% !important;
}
