::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-thumb {
	background-color: #5FD95B;
	border-radius: 100vw;
}

::-webkit-scrollbar-track {
	background: #F2F2F2;
}

* {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

html {
	background-color: #F2F2F2;
}
